body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image:url('https://techy-ui.github.io/proposal/Frontend/back.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: rgba(255, 255, 255, 0.201);
    padding: 20px;
    height:450px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 450px;
   
}

input, textarea, select {
    display: block;
    width: 90%;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ee5a52;
}

h2{
    color: #ff4d6d;
    font-family: "Merienda", cursive;
}

::placeholder {
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-family: "Dekko", cursive;
}

option {
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-family: "Dekko", cursive;
}

select {
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-family: "Dekko", cursive;
}